body {
  margin: 0;
  font-family: body-font;
  background-color: black;
  color: $text-color;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  min-height: 100vh;
  background: black;
  color: $text-color;


  .hero-content {
    max-width: 500px;

    h1 {
      font-family: $heading-font;
      font-size: 3rem;
      font-weight: 900;
      margin-bottom: 1.5rem;

      @media (max-width: 600px) {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1rem;
      color: lighten($text-color, 20%);
      margin-bottom: 2rem;
      line-height: 1.6;
    }

    .btn {
      display: inline-block;
      background-color: primary-color;
      color: white;
      padding: 1rem 2rem;
      font-weight: 700;
      border-radius: 8px;
      text-decoration: none;
      font-family: heading-font;
      transition: background 0.3s;

      // &:hover and &:focus
      &:hover,
      &:focus {
        background-color: darken(primary-color, 10%);
      }
    }
  }

  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;

    }
  }
}