.hero {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 60px 80px;
  background-color: #fefcf7;
      background-image: url('../imegs/Bitmap.png'); 
    background-size: cover;
    background-position: center;

  .hero_content {
    max-width: 500px;

    h1 {
      font-size: 40px;
      color: #fbf7f7;
      line-height: 50px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      color: #faf3f3;
      line-height: 24px;
      margin-bottom: 30px;
    }

    .btn {
      display: inline-block;
      padding: 12px 24px;
      background-color: #0e8784;
      color: #ffffff;
      font-size: 16px;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #066a68;
      }
    }
  }

  .hero_image {
    width: 400px;
    height: 400px;
    // background-image: url('../imegs/Bitmap.png'); 
    // background-size: cover;
    // background-position: center;
    border-radius: 10px;
  }

  // Tablet Responsive
  // @media (max-width: 768px) {
  //   flex-direction: column;
  //   align-items: center;
  //   padding: 40px 40px;

  //   .hero_image {
  //     width: 300px;
  //     height: 300px;
  //     margin-top: 30px;
  //   }

  //   .hero_content {
  //     text-align: center;

  //     h1 {
  //       font-size: 32px;
  //       line-height: 40px;
  //     }

  //     p {
  //       font-size: 15px;
  //       line-height: 22px;
  //     }
  //   }
  // }

  // Mobile Responsive
  @media (max-width: 480px) {
    padding: 30px 20px;

    .hero_image {
      width: 250px;
      height: 250px;
    }

    .hero_content {
      h1 {
        font-size: 26px;
        line-height: 34px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }

      .btn {
        font-size: 14px;
        padding: 10px 20px;
      }
    }
  }
}



