.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;

  .logo img {
    width: 120px;
    height: auto;
  }

  .nav-links {
    display: flex;
    gap: 30px;

    a {
      text-decoration: none;
      color: #747171;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        color: #101010; 
      }
    }
  }
}









